---
layout: default
---

<article class="post-three-column">

  <div class="three-column">
    {% assign iframe_split = content | split: '<iframe class="pdf-preview"' %}
    <div class="left-column">
      <h1>{{ page.title }}</h1>
      <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
      {% if page.description %}
        <p>{{ page.description }}</p>
      {% endif %}
    </div>
    <div class="middle-column">

    </div>
    <div class="right-column">
      {% if iframe_split.size > 1 %}
        <iframe class="pdf-preview"{{ iframe_split[1] | split: '</iframe>' | first }}</iframe>
      {% endif %}
    </div>

  </div>
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
